<p>Bonjour ${member.firstName},</p>
<p>
Vous avez initié une procédure de génération d'un nouveau mot de passe pour votre compte Betkup.
</p>
<p>
Pour choisir votre nouveau mot de passe, cliquez sur le lien suivant :
</p>
<p>
   <a href="${redirect_url}">${redirect_url}</a>
</p>
<p>
Rappel de votre Email de compte Betkup : <a href="mailto:${member.email}">${member.email}</a>
</p>
<p>
Rappel de votre date de naissance de compte Betkup : ${hrBirthdate}
</p>